*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f4f4f4;
    line-height: 1.6;
    color: #333;
}

/*NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #111;
  color: #fff;
}

.logo {
  font-size: 20px;
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
}

/* MENU TOGGLE */
.menu-toggle {
  display: none;
  font-size: 26px;
  cursor: pointer;
}

/* HERO */
.hero {
  padding: 80px 20px;
  text-align: center;
  background: #e63946;
  color: white;
}

.hero h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.hero p {
  margin-bottom: 20px;
}

/* BUTTON */
.btn {
  display: inline-block;
  padding: 12px 20px;
  background: #111;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

/* SECTIONS */
.section {
  padding: 50px 20px;
  max-width: 900px;
  margin: auto;
}

.section h2 {
  margin-bottom: 15px;
}

/* SERVICES */
.services {
  list-style: square;
  padding-left: 20px;
}

/* MOBILE */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: #111;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav-links li {
    padding: 15px;
    text-align: center;
  }

  .nav-links.show {
    display: flex;
  }
}
